Examples of this page will use Bootstrap for styling. It is not included into the addon, therefore if you plan to use
bootsrap, please include it in your application by yourself

<h2>Basic Pagination</h2>
{{snippets/basic-pagination}}
